@import 'tailwindcss';

@font-face {
  font-family: 'Old-School-Adventures';
  src: url('./assets/fonts/Old-School-Adventures-847a.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrozenCrystalExpanded';
  src: url('./assets/fonts/FrozenCrystalExpanded-xzK0.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrozenCrystalAcademy';
  src: url('./assets/fonts/FrozenCrystalAcademy-J787.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EditUndo';
  src: url('./assets/fonts/edit-undo.brk.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EditUndoDot';
  src: url('./assets/fonts/edit-undo.dot-brk.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Digital7';
  src: url('./assets/fonts/digital-7-mono.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VCR-JP';
  src: url('./assets/fonts/vcr-jp.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MobileFont';
  src: url('./assets/fonts/mobile-font.regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'November';
  src: url('./assets/fonts/november.regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FlexiIBM';
  src: url('./assets/fonts/Flexi_IBM_VGA_True.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DS-Digital';
  src: url('./assets/fonts/DS-DIGIB.TTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  outline: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

@layer base {
  html {
    font-size: 30px;
    font-family: FlexiIBM, sans-serif;
    line-height: 24px;
    letter-spacing: 1px;
  }

  button:active {
    background-color: var(--color-li-highlight);
  }
  #app > * {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Add styling for the scrollbar */
  ul::-webkit-scrollbar {
    width: 8px;
  }

  ul::-webkit-scrollbar-track {
    background: transparent;
  }

  ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  ul::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer theme {
  :root {
    --color-li-highlight: theme('colors.gray.700');
    --color-li-hover: theme('colors.gray.900');
    --header-height: 3.4rem;
    --display-diameter: 800px;
  }
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.round-display {
  width: var(--display-diameter);
  height: var(--display-diameter);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0);
}

@media (min-width: 1024px) {
  .app-container {
    background-color: #666;
  }

  .round-display {
    border: 20px solid #1a1a1a;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
  }
}
